<?php
define( 'PROTOCOL_TYPE', 'https' ); // input "http" or "https" (if https, your server have SSL)

define( 'ADFLY_ID', 'input_your_id_here' ); // Replace this with your Adfly ID
define( 'ADFOCUS_ID', 'input_your_id_here' ); // Replace this with your Adfoc.us ID
define( 'OUO_ID', 'input_your_id_here' ); // You get the drill

define( 'ADFLY_DOMAIN', 'https://adf.ly' ); // If you have a custom Adfly domain, replace this with it
define( 'ADFOCUS_DOMAIN', 'https://adfoc.us' ); // Same for this
define( 'OUO_DOMAIN', 'https://ouo.io' ); 
?>
